body {
	margin: 0;
}

#carousel-container {
	overflow: hidden;
	width: 100%;
}

#carousel {
	margin: 0;
	padding: 0;
	position: relative;
}

.carousel-item {
	display: inline-block;
}

.carousel-dots-nav-item {
	cursor: pointer;
	display: inline-block;
	margin: 10px 20px;
}